.table td,th{
    padding: 20px;
     
}
.table td,th{
    border: 1px solid black ;
}
/* .profile{
    background-color:rgb(24, 24, 87);
    padding: 250px;
    display: inline;
    color: white;
    
} */