.profile{
    background-color: rgb(4, 4, 29);
    
    display: inline-block;
    width: 300px;
    height: 600px;
    color:white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
   
   
   
}
h3,p{
    text-align: center;
}

.online{
    margin-left: 10px;
    margin-top: 10px;
    background-color: greenyellow;
    border: none;
    padding: 7px;
}

.off button{
    background-color: greenyellow;
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    

}

.social{
    margin-left: 60px;
}
.social button{
    margin-left: 10px;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}
.img{
    background-color: white;
    height: 210px;
    width: 210px;
    border-radius: 50%;
   margin-left: 50px;
}

ul li{
    display: inline-block;
    margin-left: 10px;
    padding: 1px;
    border: 1px solid gray;
    margin-bottom: 10px;
}
h4{
    margin-left: 10px;
}

.btn2{
    padding: 6px;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;

}
.btn1{
    background-color: blue;
    padding: 6px;
    border: none;
    border: 1px solid blue;
}

.app-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }



  